* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    
    background: linear-gradient(330deg, rgba(31, 17, 206, 1) 17%, rgba(229, 43, 43, 1) 77%);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    height: auto;
    min-height: 100vh;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: auto;
    }
}